<div ng-controller="QuestionController">
	<div class="row container chart-row">
		<div class="col-md-6">
			<h4 class="chart-desc">All-time no.of Questions v/s Views</h4>
			<div  google-chart="ColumnChart" ng-model="viewmap" class="mediumGraph chart-position"></div>
		</div>
		<div  class="col-md-6">
			<h4 class="chart-desc">All-time no.of Questions v/s Answers</h4>
			<div google-chart="ColumnChart" ng-model="answermap" class="mediumGraph chart-position"></div>
		</div>
	</div>
	<div class="row container chart-row">
		<div  class="col-md-6">
			<h4 class="chart-desc">All-time no.of Questions grouped by year</h4>
			<div  google-chart="ColumnChart" ng-model="questionmap" class="mediumGraph chart-position"></div>
		</div>
	</div>
</div>