

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-bg{
	background-color: #C2E0FF;
}

.navbar-brand-width{
	width: 600px;
	float: left;
}

.extraLargeGraph{
	width:1200px;
	height:500px;
	float:left;
}

.largeGraph{
	width:600px;
	height:500px;
	float:left;
}

.mediumGraph{
	width:400px;
	height:400px;
	float:left;
}

.smallGraph{
	width:200px;
	height:200px;
	float:left;
}

