

/* ==========================================================================
   Author's custom styles  9B9B9D #C2E0FF
   ========================================================================== */

.navbar-bg{
	background-color: #75A3FF;
}

.navbar-brand-width{
	width: 600px;
	float: left;
}

.extraLargeGraph{
	width:1200px;
	height:400px;
	float:left;
}

.largeGraph{
	width:500px;
	height:500px;
	float:left;
}

.mediumGraph{
	width:400px;
	height:400px;
	float:left;
}

.smallGraph{
	width:200px;
	height:200px;
	float:left;
}

.tagchart{
	margin-left: 250px;
}
.chart-desc{
	font-style: italic;
	text-align: center;
	width: 100%;
	float: left;
}

.chart-row{
	margin-top: 60px;
}

.chart-position{
	margin-left: 60px;
}

.pageContainer{
	background-color: #9B9B9D;
}

body{
	background-color: #EFF4FF;
}
.white{
	color: #FFFFFF;
}
